<footer class="footer-28">
    <div class="footer-bg-layer">
        <div class="container py-lg-3">
            <div class="row footer-top-28">

                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4 footer-list-28 mt-5">
                            <h6 class="footer-title-28">Tentang</h6>
                            <ul>
                                <li><a href="/tentang">Tentang Kami</a></li>
                                <li><a href="/bantuan">Bantuan</a></li>
                                <li><a href="/kontak">Kontak Kami</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 footer-list-28 mt-5">
                            <h6 class="footer-title-28">Lainnya</h6>
                            <ul>
                                <li><a href="/tac">Syarat dan Ketentuan</a></li>
                                <li><a href="/kebijakan">Kebijakan Privasi</a></li>
                                <li><a href="/karir">Karir</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 footer-list-28 mt-5">
                            <h6 class="footer-title-28">Kelas Terbaru</h6>
                            <ul id="kelasFooter">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-list-28 mt-5">
                    <h6 class="footer-title-28">Informasi Kontak</h6>
                    <ul>
                        <li>
                            <p><strong>Address</strong> : <i id="address_company_footer"></i></p>
                        </li>
                        <li>
                            <p><strong>Phone</strong> : <i id="phone_company_footer"></i></p>
                        </li>
                        <li>
                            <p><strong>Email</strong> : <i id="email_company_footer"></i></p>
                        </li>
                    </ul>

                    <div class="main-social-footer-28 mt-3">
                        <ul class="social-icons">
                            <li class="facebook">
                                <a href="#link" title="Facebook">
                                    <span class="fa fa-facebook" aria-hidden="true"></span>
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="#link" title="Twitter">
                                    <span class="fa fa-twitter" aria-hidden="true"></span>
                                </a>
                            </li>
                            <li class="dribbble">
                                <a href="#link" title="Dribbble">
                                    <span class="fa fa-dribbble" aria-hidden="true"></span>
                                </a>
                            </li>
                            <li class="google">
                                <a href="#link" title="Google">
                                    <span class="fa fa-google" aria-hidden="true"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>


        <div class="midd-footer-28 align-center py-lg-4 py-3 mt-5">
            <div class="container">
                <p class="copy-footer-28 text-center"> <b id="nama_app"></b> &copy; 2020. Copyrigh by <b id="company"></b>. All Rights Reserved. Created by <a
                        href="https://lintaspena.org/" target="_blank">LintasPena.org</a></p>
            </div>
        </div>
    </div>
</footer>