<!doctype html>
<html lang="en" layout:decorate="~{public/base/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div layout:fragment="content">

    <!-- not found page -->
    <section class="w3l-index-block8 py-5"><br>&nbsp;<br>&nbsp;<br></section>
    <section class="w3l-index-block8 py-5">
        <div class="container py-md-3 text-center">
            <div class="heading text-center mx-auto">
                <h3 class="head">On Progress</h3>
            </div>
            <div class="buttons mt-4">
                <a href="/" class="btn btn-outline-primary mr-2 btn-demo">Back to Home</a>
            </div>
        </div>
    </section>
    <section class="w3l-index-block8 py-5"><br>&nbsp;<br>&nbsp;<br><br></section>
    <!-- / not found page -->

    <script src="public/js/pagenotfound.js"></script>
</div>
</body>
</html>