<!doctype html>
<html lang="en" layout:decorate="~{public/base/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <title>Beranda</title>
</head>
<body>
  <div layout:fragment="content">

    <!-- Slide -->
    <div id="slide"></div>
    <!-- /Slide -->

    <!-- List Kursus -->
    <section class="w3l-index-block2 py-5">
      <div class="container py-md-3">
        <div class="heading text-center mx-auto">
          <h3 class="head">Kategori Kursus</h3>
          <p class="my-3 head"> Berikut adalah kategori kursus</p>
        </div>
        <div class="row bottom_grids pt-md-3 text-center">
          <div class="row" id="kategori"></div>
        </div>
      </div>
    </section>
    <!-- /List Kursus -->

    <!-- List Kelas -->
    <div class="w3l-index-block4">
      <div class="features-bg py-5">
        <!-- features15 block -->
        <div class="container py-md-3">
          <div class="heading text-center mx-auto">
            <h3 class="head">Daftar Kelas </h3>
            <p class="my-3 head"> Daftar kelas terbagi menjadi kelas terbaru dan best seller.</p>
          </div>
          <div class="row">
            <div class="col-md-4 features15-col-text">
              <div class="d-flex flex-wrap feature-unit align-items-center">
                <h3 class="heading text-title">Kelas Terbaru</h3>
                <div id="kelasterbaru">
                </div>
                <div class="row"><a class="btn btn-warning pull-right">Selengkapnya</a></div>
              </div>
            </div>
            <div class="col-md-4 features15-col-text">
              <div class="d-flex flex-wrap feature-unit align-items-center">
                <h3 class="heading text-title">Kelas Best Seller</h3>
                <div id="kelasbestseller"></div>
                <div class="row"><a class="btn btn-warning pull-right">Selengkapnya</a></div>
              </div>
            </div>
            <div class="col-md-4 features15-col-text">
              <div class="d-flex flex-wrap feature-unit align-items-center">
                <h3 class="heading text-title">Semua Kelas</h3>
                <div id="semuakelas"></div>
                <div class="row"><a class="btn btn-warning pull-right">Selengkapnya</a></div>
              </div>
            </div>
          </div>
          <div>
            <!-- features15 block -->
          </div>
        </div>
      </div>
    </div>
    <!-- /List Kelas -->

    <!-- Testimonial -->
    <section class="w3l-index-block5">
      <!-- main-slider -->
      <div class="testimonials py-5">
        <div class="container text-center py-lg-3">
          <div class="heading text-center mx-auto">
            <h3 class="head">Ulasan Peserta Kursus </h3>
          </div>
          <div class="row">
            <div class="col-md-10 mx-auto">
              <div class="owl-one owl-carousel owl-theme" id="testimoni">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /main-slider -->
    </section>
    <!-- /Testimonial -->

    <!-- partners -->
     <section class="w3l-index-block9" id="partners">
      <div class="partners py-5">
        <div class="container py-lg-3">
          <div class="heading text-center mx-auto">
            <h3 class="head">Partner Kami</h3>
          </div>
          <div class="col-md-10 justify-content-between grid-part text-center mx-auto">
            <div class="row" id="partner"></div>
          </div>
        </div>
      </div>
    </section>
    <!-- /partners -->

    <!-- Join -->
    <section class="w3l-index-block8 py-5">
      <div class="container py-md-3 text-center">
        <div class="heading text-center mx-auto">
          <h3 class="head">Siap untuk bergabung </h3>
        </div>
        <div class="buttons mt-4">
          <a href="/login" class="btn btn-outline-primary mr-2 btn-demo">Get Started</a>
        </div>
      </div>
    </section>
    <!-- /Join -->

    <script src="public/js/beranda.js"></script>
  </div>
</body>
</html>