<!doctype html>
<html lang="en" layout:decorate="~{public/base/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Kelas Saya</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<div layout:fragment="content">

    <!-- Profile -->
    <section class="container py-lg-3"><br><br></section>
    <div class="container py-lg-3">
        <div class="row top-map">
            <div class="map-content-12 col-md-12 mt-5 mt-md-0">
                <div class="heading mb-lg-4 mb-4">
                    <h3 class="head">Kelas Saya</h3>
                </div>
                <ul class="nav nav-tabs">
                    <li class="li-tab active"><a  data-toggle="tab" class="tab" href="#home">Semua</a></li>
                    <li class="li-tab"><a data-toggle="tab" class="tab" href="#menu1">Dalam Progres</a></li>
                    <li class="li-tab"><a data-toggle="tab" href="#menu2">Selesai Seluruh Materi</a></li>
                    <li class="li-tab"><a data-toggle="tab" href="#menu3">Belim Lulus Exam</a></li>
                    <li class="li-tab"><a data-toggle="tab" href="#menu4">Lulus Exam</a></li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <div class="features feature-unit col-md-12 features15-col-text list-bill">
                            <div class="d-flex flex-wrap feature-unit align-items-center">
                                <div class="list-inline-item">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-1"><img src="public/images/s1.png" class="img-product"></div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="features15-para">
                                                            <h4>Teknologi</h4>
                                                            <p>Our goal is to help our companies maintain or achieve best in class positions. Build an online presence with this professional bootstrap 4 template.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12"><i>Pemateri:  <b>Pemateri 1</b></i> | Progress:
                                                        <div class="label-info">0%</div> | Exam:
                                                        <div class="label-info">Belum</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row">
                                                    <div class="col-md-12">&nbsp;</div>
                                                    <div class="col-md-12">
                                                        <div class="btn btn-info">Mulai Belajar</div>
                                                    </div>
                                                    <div class="col-md-12"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features feature-unit col-md-12 features15-col-text list-bill">
                            <div class="d-flex flex-wrap feature-unit align-items-center">
                                <div class="list-inline-item">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-1"><img src="public/images/s1.png" class="img-product"></div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="features15-para">
                                                            <h4>Teknologi</h4>
                                                            <p>Our goal is to help our companies maintain or achieve best in class positions. Build an online presence with this professional bootstrap 4 template.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12"><i>Pemateri:  <b>Pemateri 1</b></i> | Progress:
                                                        <div class="label-warning">75%</div> | Exam:
                                                        <div class="label-info">Belum</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row">
                                                    <div class="col-md-12">&nbsp;</div>
                                                    <div class="col-md-12">
                                                        <div class="btn btn-warning">Lanjut Belajar</div>
                                                    </div>
                                                    <div class="col-md-12"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features feature-unit col-md-12 features15-col-text list-bill">
                            <div class="d-flex flex-wrap feature-unit align-items-center">
                                <div class="list-inline-item">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-1"><img src="public/images/s1.png" class="img-product"></div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="features15-para">
                                                            <h4>Teknologi</h4>
                                                            <p>Our goal is to help our companies maintain or achieve best in class positions. Build an online presence with this professional bootstrap 4 template.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12"><i>Pemateri:  <b>Pemateri 1</b></i> | Progress:
                                                        <div class="label-success">100%</div> | Exam:
                                                        <div class="label-warning">Belum</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row">
                                                    <div class="col-md-12">&nbsp;</div>
                                                    <div class="col-md-12">
                                                        <div class="btn btn-info">Kerjakan Exam</div>
                                                    </div>
                                                    <div class="col-md-12"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features feature-unit col-md-12 features15-col-text list-bill">
                            <div class="d-flex flex-wrap feature-unit align-items-center">
                                <div class="list-inline-item">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-1"><img src="public/images/s1.png" class="img-product"></div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="features15-para">
                                                            <h4>Teknologi</h4>
                                                            <p>Our goal is to help our companies maintain or achieve best in class positions. Build an online presence with this professional bootstrap 4 template.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12"><i>Pemateri:  <b>Pemateri 1</b></i> | Progress:
                                                        <div class="label-success">100%</div> | Exam:
                                                        <div class="label-info">Tidak Lulus</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row">
                                                    <div class="col-md-12">&nbsp;</div>
                                                    <div class="col-md-12">
                                                        <div class="btn btn-warning">Ulangi Exam</div>
                                                    </div>
                                                    <div class="col-md-12"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features feature-unit col-md-12 features15-col-text list-bill">
                            <div class="d-flex flex-wrap feature-unit align-items-center">
                                <div class="list-inline-item">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-1"><img src="public/images/s1.png" class="img-product"></div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="features15-para">
                                                            <h4>Teknologi</h4>
                                                            <p>Our goal is to help our companies maintain or achieve best in class positions. Build an online presence with this professional bootstrap 4 template.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12"><i>Pemateri:  <b>Pemateri 1</b></i> | Progress:
                                                        <div class="label-success">100%</div> | Exam:
                                                        <div class="label-success">Lulus</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row">
                                                    <div class="col-md-12">&nbsp;</div>
                                                    <div class="col-md-12">
                                                        <div class="btn btn-success">Cetak Sertifikat</div>
                                                    </div>
                                                    <div class="col-md-12"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <div class="features feature-unit col-md-12 features15-col-text list-bill">
                            <div class="d-flex flex-wrap feature-unit align-items-center">
                                <div class="list-inline-item">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-1"><img src="public/images/s1.png" class="img-product"></div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="features15-para">
                                                            <h4>Teknologi</h4>
                                                            <p>Our goal is to help our companies maintain or achieve best in class positions. Build an online presence with this professional bootstrap 4 template.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12"><i>Pemateri:  <b>Pemateri 1</b></i> | Progress:
                                                        <div class="label-info">0%</div> | Exam:
                                                        <div class="label-info">Belum</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row">
                                                    <div class="col-md-12">&nbsp;</div>
                                                    <div class="col-md-12">
                                                        <div class="btn btn-info">Mulai Belajar</div>
                                                    </div>
                                                    <div class="col-md-12"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features feature-unit col-md-12 features15-col-text list-bill">
                            <div class="d-flex flex-wrap feature-unit align-items-center">
                                <div class="list-inline-item">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-1"><img src="public/images/s1.png" class="img-product"></div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="features15-para">
                                                            <h4>Teknologi</h4>
                                                            <p>Our goal is to help our companies maintain or achieve best in class positions. Build an online presence with this professional bootstrap 4 template.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12"><i>Pemateri:  <b>Pemateri 1</b></i> | Progress:
                                                        <div class="label-warning">75%</div> | Exam:
                                                        <div class="label-info">Belum</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row">
                                                    <div class="col-md-12">&nbsp;</div>
                                                    <div class="col-md-12">
                                                        <div class="btn btn-warning">Lanjut Belajar</div>
                                                    </div>
                                                    <div class="col-md-12"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <div class="features feature-unit col-md-12 features15-col-text list-bill">
                            <div class="d-flex flex-wrap feature-unit align-items-center">
                                <div class="list-inline-item">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-1"><img src="public/images/s1.png" class="img-product"></div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="features15-para">
                                                            <h4>Teknologi</h4>
                                                            <p>Our goal is to help our companies maintain or achieve best in class positions. Build an online presence with this professional bootstrap 4 template.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12"><i>Pemateri:  <b>Pemateri 1</b></i> | Progress:
                                                        <div class="label-success">100%</div> | Exam:
                                                        <div class="label-warning">Belum</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row">
                                                    <div class="col-md-12">&nbsp;</div>
                                                    <div class="col-md-12">
                                                        <div class="btn btn-info">Kerjakan Exam</div>
                                                    </div>
                                                    <div class="col-md-12"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="menu3" class="tab-pane fade">
                        <div class="features feature-unit col-md-12 features15-col-text list-bill">
                            <div class="d-flex flex-wrap feature-unit align-items-center">
                                <div class="list-inline-item">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-1"><img src="public/images/s1.png" class="img-product"></div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="features15-para">
                                                            <h4>Teknologi</h4>
                                                            <p>Our goal is to help our companies maintain or achieve best in class positions. Build an online presence with this professional bootstrap 4 template.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12"><i>Pemateri:  <b>Pemateri 1</b></i> | Progress:
                                                        <div class="label-success">100%</div> | Exam:
                                                        <div class="label-info">Tidak Lulus</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row">
                                                    <div class="col-md-12">&nbsp;</div>
                                                    <div class="col-md-12">
                                                        <div class="btn btn-warning">Ulangi Exam</div>
                                                    </div>
                                                    <div class="col-md-12"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="menu4" class="tab-pane fade">
                        <div class="features feature-unit col-md-12 features15-col-text list-bill">
                            <div class="d-flex flex-wrap feature-unit align-items-center">
                                <div class="list-inline-item">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-1"><img src="public/images/s1.png" class="img-product"></div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="features15-para">
                                                            <h4>Teknologi</h4>
                                                            <p>Our goal is to help our companies maintain or achieve best in class positions. Build an online presence with this professional bootstrap 4 template.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12"><i>Pemateri:  <b>Pemateri 1</b></i> | Progress:
                                                        <div class="label-success">100%</div> | Exam:
                                                        <div class="label-success">Lulus</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row">
                                                    <div class="col-md-12">&nbsp;</div>
                                                    <div class="col-md-12">
                                                        <div class="btn btn-success">Cetak Sertifikat</div>
                                                    </div>
                                                    <div class="col-md-12"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- Profile -->

    <!-- List Kelas -->
    <div class="w3l-index-block4">
        <div class="features-bg py-5">
            <!-- features15 block -->
            <div class="container py-md-3">
                <div class="heading text-center mx-auto">
                    <h3 class="head">Kelas Rekomendasi </h3>
                    <p class="my-3 head"> Daftar kelas rekomendasi untuk anda.</p>
                </div>
                <div class="row">
                    <div class="col-md-4 features15-col-text">
                        <div class="d-flex flex-wrap feature-unit align-items-center">
                            <h3 class="heading text-title">Kelas Terbaru</h3>
                            <div id="kelasterbaru">
                            </div>
                            <div class="row"><a class="btn btn-warning pull-right">Selengkapnya</a></div>
                        </div>
                    </div>
                    <div class="col-md-4 features15-col-text">
                        <div class="d-flex flex-wrap feature-unit align-items-center">
                            <h3 class="heading text-title">Kelas Best Seller</h3>
                            <div id="kelasbestseller"></div>
                            <div class="row"><a class="btn btn-warning pull-right">Selengkapnya</a></div>
                        </div>
                    </div>
                    <div class="col-md-4 features15-col-text">
                        <div class="d-flex flex-wrap feature-unit align-items-center">
                            <h3 class="heading text-title">Semua Kelas</h3>
                            <div id="semuakelas"></div>
                            <div class="row"><a class="btn btn-warning pull-right">Selengkapnya</a></div>
                        </div>
                    </div>
                </div>
                <div>
                    <!-- features15 block -->
                </div>
            </div>
        </div>
    </div>
    <!-- /List Kelas -->

    <script src="public/js/kelassaya.js"></script>
</div>
</body>
</html>