<!doctype html>
<html lang="en" layout:decorate="~{public/base/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div layout:fragment="content">

    <div class="row">&nbsp;</div>
    <!-- List Kelas -->
    <div class="w3l-index-block4">
        <div class="features-bg py-5">
            <!-- features15 block -->
            <div class="container py-md-3">
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-md-2"><h4 class="head">Pencarian</h4></div>
                    <div class="col-md-2"><select class="form-control" id="kategori"></select></div>
                    <div class="col-md-6">
                        <input class="form-control" type="text" placeholder="Cari kelas pilihanmu..." name="kelas" required="">
                    </div>
                    <div class="col-md-2"><button class="btn btn-danger">Cari</button></div>
                </div>
                <div class="row"><hr/></div>
                <div class="row" id="semuakelas">
                </div>
                <div>
                    <!-- features15 block -->
                </div>
            </div>
        </div>
    </div>
    <!-- /List Kelas -->

    <script src="public/js/kursus.js"></script>
</div>
</body>
</html>